<h2>Editing Order #<%= @order.id%></h2>

<br>

<%= render 'form' %>
<br>
<strong>Items:</strong>
<%= render @order.line_items %>
<br>
<br>
<%= link_to 'Show', @order %> |
<%= link_to 'Back', orders_path %>
<br>
<br>
