<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Listing Orders</h1>
<br>

<%= render 'layouts/form_search' %>
<br>

<% @orders = @orders.paginate(page: params[:page], per_page: 20) %>
<div class="apple_pagination product_pag">

  <%= will_paginate %>
</div>

<table id="table_orders" width="100%" >
  <thead>
    <tr>
      <th> <%= t('orders.name')         %> </th>
      <th> <%= t('orders.address_html') %> </th>
      <th> <%= t('orders.email')        %> </th>
      <th> <%= t('orders.pay_type')     %> </th>
      <th colspan="3"> Action </th>
    </tr>
  </thead>

  <tbody>
    <%= render @orders %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path, class: "btn btn-warning" %>
