<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h2>Your Cart:</h2>

<hr />
<%= render 'table_of_cart_line_items' %>
<%= render 'warning_price_block' if(@cart.total_price > 1_000) %>
<hr />

<%= button_to 'Очистить корзину', @cart, method: :delete,
                data: { confirm: 'Are you sure?' } %>
<%= link_to 'Продолжить просмотр товаров', store_path %>


