<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

    <div class="entry">
      <h3><%= @product.title %></h3>
      <hr />
      <%= image_tag(@product.image_url) %>
        <p> <%= sanitize(@product.description) %> </p>

        <div class="price_line">
        <table border="0">
          <tr>
            <td>
              <span class="price">
<!--              Price: <%#= number_to_currency(product.price, unit: "₴", format: "%n %u") %> -->
                  <%= t('.price_html') + number_to_currency(@product.price) %>
              </span>
            </td>
            <td width="150px" align="right">
            </td>
          <tr>
        </table>

		<hr />
        <table border="0">
          <tr><th> <%= t('.product_details') %>: </th></tr>
          <tr>
            <td> <%= sanitize(@product.details) %> </td>
          </tr>
        </table>

        <%= link_to 'Back to the store', store_path, class: 'nav btn btn-primary',
                     style: 'width: 9em;'  %><br/>
        </div>
    </div>

