<% if line_item == @current_item %>
  <tr id="current_item">
<% else %>
  <tr>
<% end %>

  <td>
  <div style="overflow:hidden; width: 8em;">
     <%= line_item.product.title %>
  </div>
  </td>
  <td class="item_price">
<!--       <%#= number_to_currency(line_item.product.price, unit: "", delimiter: " ",	format: "%n %u") %> -->
      <%= number_to_human(line_item.product.local_price, units: :money, precision: 5,
      								significant: false) %>
  </td>
  <td class="quantity"> &times;<%= line_item.quantity %></td>
  <td class="item_price" align="right" nowrap>
      <%#= number_to_currency(line_item.total_price, delimiter: " ", format: "%n %u")%>
      <%= number_to_currency(
            number_to_human(line_item.total_price, units: :money, precision: 5),
            delimiter: " ", format: "%n %u")%>
  </td>
<!--   условие добавлено для унификации шаблона при генерации почтового сообщения -->
  <% if @order.nil? %>
      <td class="delete_cell">
          <%= button_to( t('.delete_item'), line_item, method: :delete,
                      class: "btn btn-xs" ) %>
      </td>
  <% end %>
</tr>
