<% @products.each do |product| %>
    <div class="entry">
      <hr />
      <h3> <%= product.title %> </h3>
      <%= image_tag(product.image_url) %>
      <p> <%= sanitize(product.description) %> </p>
      <%= link_to t('.product_details'), product %><br/>
        <div class="price_line">
        <table border="0">
          <tr>
            <td>
              <span class="price">
<!--              Price: <%#= number_to_currency(product.price, unit: "₴", format: "%n %u") %> -->
                  <%= t('.price_html') + number_to_currency(product.price) %>
              </span>
            </td>
            <td width="150px" align="right">
<!--           <%#= button_to( 'Add to Cart', line_items_path(product_id: product), remote: true) %> -->
               <%= button_to( t('.add_html'), line_items_path(product_id: product), remote: true) %>
            </td>
          <tr>
        </table>
        </div>
    </div>
  <% end %>
